body {
  text-align: center;
}

.title {
  margin: 0;
  position: relative;
  background-image: url("../Images/the-flatiron-building.png");
  background-position: center;
  background-repeat: repeat-y;
  align-items: center;
}

h1 {
  font-family: Helvetica;
  font-size: 70px;
  font-weight: bold;
  color: white;
}

h2 {
  font-family: Helvetica;
  font-size: 32px;
  font-weight: bold;
}

p {
  font-family: Helvetica;
  font-size: 14px;
}

h3 {
  font-family: Helvetica;
  font-size: 23px;
  font-weight: bold;
  color: black;
}

.title li {
  font-family: Helvetica;
  font-size: 18px;
  color: white;
}

#Designed {
  background-image: url("../Images/the-flatiron-building.png");
  background-repeat: repeat-y;
  background-position: center;
  color: white;
}

div.footerbar {
  height: 30px;
  background-color: dimgray;
}

ul.footer {
  list-style: none;
  padding-left: 0;
}

a.footerlinks {
  float: left;
  padding-right: 10px;
  padding-top: 4px;
  font-family: Helvetica;
  font-size: 18px;
  color: white;
}

a.copyright {
  float: left;
  padding-right: 10px;
  padding-left: 4px;
  padding-top: 11px;
  font-family: Helvetica;
  font-size: 11px;
  color: white;
}
